.home {
    scroll-behavior: smooth;
    width: 85%;
    margin: 2% auto;
    background: darken($color-1, 2%);
    border-radius: 20px;

    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80vh;
    }

    .welcome {
        h2 {
            position: relative;
            &::after {
                content: '';
                position: absolute;
                width: 80px;
                height: 6px;
                background: $color-3;
                bottom: -8px;
                left: 46%;
                transform: translate(-46%);
                border-radius: 5px;
            }
        }

        .competences-container {
            display: flex;
            justify-content: space-around;
            margin: 20px;
        }

        .competences {
            display: flex;
            justify-content: center;
            align-items: flex-start;

            div {
                margin: 1rem;
                text-align: center;
                width: 100%;
                height: 250px;
                padding: 2%;
                position: relative;
                border-radius: 5px;
                box-shadow: 1px 1px 20px #dae3f2;
                transition: all ease 0.5s;

                &:hover {
                    box-shadow: 1px 1px 20px #acb1bb;
                }

                img {
                    width: 110px;
                    height: 110px;
                    object-fit: cover;
                }

                p {
                    font-size: 1.1rem;
                }
            }
        }
    }

    .contact {
        height: 100vh;

        h1 {
            color: $color-3;
            margin: 16px;
        }

        h2::after {
            width: 470px;
            background: $color-3;
        }
    }

    
}
