
.home {
    scroll-behavior: smooth;
    width: 70%;
    padding: 2% 3%;
    margin: 2% auto;
    background: darken($color-1, 2%);
    border-radius: 20px;

    .intro {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;

        .skills-container{
            align-self: flex-end;
        }
    }

    .welcome {
        h2::after {
            width: 415px;
            background: $color-4;
        }

        .presentation {
            display: flex;
            justify-content: space-around;
            position: absolute;

            p {
                width: 80%;
            }
        }

        .text-presentation {
            margin: 36px 56px;
        }
    }
    .contact {
        height: 100vh;

        h1 {
            color: $color-3;
            margin: 16px;
        }

        h2::after {
            width: 470px;
            background: $color-3;
        }
    }
}
