.navigation {
    @include body-highlight(1.5rem);

    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
        position: relative;
        margin: 24px;
    }

    .nav-active {
        &::after {
            content: '';
            width: 40%;
            height: 5px;
            background: $color-3;
            position: absolute;
            bottom: 0px;
            left: 15%;
            transform: translate(-35%);
            border-radius: 5px;
        }
    }
}
