.social-network{
    
    img{
        height: 40px;
        width: 40px;
        margin: 16px;
        transition: all 250ms;
    }

    img:hover{
        transform: scale(1.2);
        filter: invert(23%) sepia(45%) saturate(4615%) hue-rotate(346deg) brightness(88%) contrast(110%);
    }


}